<style>
    p,h1{
    font-size:3em;
    font-family:LUCIDA; 
    }

</style>

<CENTER>
<h1> Your Order </h1>
<p>Selected Food:{{food}}</p>
<p>Price ($) : {{price }}</p>
<p>Total Price: $ {{total}}</p>

</CENTER>